*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman";
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.hidden,
[hidden] {
    display: none !important;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

@media only screen and (min-width: 35em) {

}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {

}



@media print {
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }


    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 6px;
}

.sm__cap{
    font-variant: small-caps;
}

body{
    width: 100%;
}

.header{
    width: 100%;
}

.header__img{
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.nav{
    width: 100%;
    background-color: #595A76;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

.menu-list{
    list-style: none;
    margin: 0 1.5rem;
}

.menu-link{
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    font-variant: petite-caps;
}

.banner{
    width: 100%;
}

.container{
    width: 100%;
    position: relative;
}

.banner-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.content{
    color: white;
    width: 400px;
    position: absolute;
    bottom: 80px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text--uppercase{
    text-transform: uppercase;
}

.title{
    width: 80%;
    font-size: 3rem;
    text-align: center;
}

.hr{
    width: 100%;
    height: 2px;
    background-color: rgb(50, 50, 50);
}

.discription{
    font-size: 1.3rem;
    width: 50%;
    text-align: center;
    margin: .5rem auto;
}

.search{
    margin-top: 1rem;
}

.search-input{
    border-radius: 20px;
    padding: .8rem;
    box-shadow: 5px 5px  4px rgba(0,0,0, .5) inset;
}

.search-input::placeholder{
    color: rgb(220,220,220);
    font-size: 1.2rem;
}

.search-submit{
    padding: .7rem;
    color: white;
    background-color: #282828;
    box-shadow: 3px 3px  4px rgba(255,255,255, .5);
    font-variant: small-caps;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

.main{
    width: 100%;
    position: relative;
}

.layout{
    display: flex;
}

.col__lg-8{
    width: calc(100%*(2/3));
}

.col__lg-4{
    width: calc(100% - (calc(100%*(2/3))));
}

.layout-content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.layout-content-row1,
.layout-content-row2{
    width: 100%;
    display: flex;
}

.layout-content-row1-img,
.layout-content-row2-img{
    border-radius: 12px;
    margin: .5rem;
    width: 25%;
    object-fit: cover;
}

.layout-content-row1-discription,
.layout-content-row2-discription{
    width: 75%;
    text-align: justify;
    margin: .5rem;
    font-size: 1.2rem;
}



.layout-form{
    padding: 2rem;
}

.form{
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group{
    margin: 0 0 .8rem 0;
}

.form-group input{
    width: 100%;
    padding: .7rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form label{
    font-size: 1.5rem;
    font-weight: 900;
}

textarea{
    width: 100%;
    height: 150px;
}

.form__submit{
    padding: .7rem 1rem;
    color: white;
    background-color: #282828;
    box-shadow: 3px 3px  4px rgba(0,0,0, .5);
    font-variant: small-caps;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

footer{
    width: 100%;
    background-color: #7C9695;
    padding: 2rem 0;
}

.copyright{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;

}
